<%= current_user.name + "さんのタスク一覧" %>
    <% tasks.each do |task| %>
        <ul class="list-unstyled">
            <li>
                <%= task.status %> ＞ <%= link_to task.content, task %> <span class="text-muted">posted at <%= task.created_at %></span>
            </li>
        </ul>
      <%= paginate tasks %>
    <% end %>
    